*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* Primary colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --white-paragraph: hsla(0, 0%, 100%, 0.75);
  --white-heading: hsla(0, 0%, 100%, 0.6);

  /* Measurements */
  --border-radius: .55em;

  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: var(--white-paragraph);
  line-height: 1.7;

  -webkit-text-size-adjust: 100%; /* Prevent weird font scaling in iPhone/iPad landscape mode */
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: var(--white);
  font-weight: 700;
}

a:hover,
a:active {
  text-decoration: none;
}

:focus-visible {
  outline: .4em solid orange;
}

h1, h2 {
  color: var(--white);
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  font-size: 1.87rem;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.4rem;
    line-height: 1.25;
  }
}

strong {
  color: var(--soft-violet);
  font-weight: inherit;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "\200B"; /* Fix bug with VoiceOver not announcing lists with list-style-type: none */
}

li p {
  font-family: 'Lexend Deca', sans-serif;
  font-variant: small-caps;
  letter-spacing: .05em;
}



/* Layout */

body {
  background-color: var(--very-dark-blue);
  text-align: center;
  padding: 14vmin 1.63em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background-color: var(--dark-desaturated-blue);
  border-radius: var(--border-radius);
  margin: 0 auto;
  max-width: 420px;
}

.image-header {
  background: linear-gradient(
      var(--soft-violet),
      var(--soft-violet)
    ),
    url("images/image-header-mobile.jpg") no-repeat center/cover;
  background-blend-mode: multiply;
}

section {
  padding: 2.65em 2em;
  display: flex;
  align-items: center;
}

.container > * + * {
  margin-top: 1em;
}

@media (max-width: 1199px) {
  .image-header {
    padding-top: calc((3 / 4) * 100%);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
}

@media (min-width: 1200px) {
  body {
    text-align: left;
  }

  main {
    width: 90%;
    max-width: 1112.87px;
    display: flex;
    flex-direction: row-reverse;
  }

  header {
    flex: 1 0 48.5%;
  }

  .image-header {
    background: linear-gradient(
      var(--soft-violet),
      var(--soft-violet)
    ),
    url("images/image-header-desktop.jpg") no-repeat center/cover;
    
    padding-top: calc((223 / 270) * 100%);
    border-radius: 0;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  section {
    padding: 4vw 4.8em;
    flex: 1 0 51.5%;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  ul > * + * {
    margin-left: 1em;
  }

  .container > * + * {
    max-width: 23.5em;
    margin-top: 2em;
  }
}



/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1em;
}